body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.MuiDropzoneArea-root {
	background-color: transparent !important;
}
.MuiDropzoneArea-text, .MuiDropzoneArea-icon {
  color: rgb(16, 15, 15) !important;
}
.MuiTypography-root{
	margin-left: 70px;
}

.Result{
	padding:2px,70px;
}
.MuiCardMedia-root{
	max-height: 250px;
	border-radius: 0px;
}
.clear{
	display: block;
}